/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */


body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    /* background: #E5E5E5; */
}

/*  start header section */

/* section text and image  */
.container{
    max-width: 1206px;
    margin: 0 auto;
    /* padding: 0 109px; */
    padding: 0 79px;

}
.logo_img{
    padding: 45px 0 25px 0;
}
.flex-container{
    display: flex;
    width: 100%;
}
.left-text,.right-img{
    width: 50%;
}
.left-text{
    padding-top: 75px;
    padding-right: 100px;
}
.left-text h1{

font-weight: 700;
font-size: 70px;
line-height: 105px;

}
.left-text h2{
font-weight: 600;
font-size: 40px;
line-height: 60px;
}
.left-txt-para{
padding-top: 37px;
font-size: 22px;
line-height: 33px;
}

.view-btn{
 margin-top: 41px;
background: #ED4E08;
display: inline-block;
padding: 20px 0 20px 29px;
cursor: pointer;

}
.view-btn a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}
.view-btn svg{
    padding: 0 29px 0 11px;
}
.right-img .block_img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section text and image  end */

/* section text about shoptrade(what is shoptrade) */
.about-shoptrade{
    margin: 85px 0 50px 0;
    background: #ED4E08;
}
.shoptrade-txt h3{
    padding: 66px 0 40px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.shoptrade-txt p{
    padding-bottom: 40px;
    font-size: 22px;
line-height: 33px;

color: #FFFFFF;
}
.shoptrade-txt a{
    display: block;
    padding-bottom: 88px;
font-weight: 700;
font-size: 25px;
line-height: 38px;
text-decoration-line: underline;
color: #FFFFFF;
}
.shoptrade-txt svg{
    padding-left: 9px;
    width: 12px;
}


/* section text about shoptrade(what is shoptrade) end */

/* section text ,featured ,design and engineering */
.bigleap-text h4{
    font-weight: 700;
font-size: 40px;
line-height: 60px;
padding-bottom: 15px;
}
.bigleap-text h5{
font-size: 20px;
line-height: 30px;
padding-bottom: 40px;
}
.bigleap-text p{
    font-size: 20px;
line-height: 30px;
padding-bottom: 50px;
}
.tablink{
    margin-right: 94px;
    padding: 17px 20px;
    border: none;
    background: transparent;
font-weight: 600;
font-size: 20px;
line-height: 30px;

}
.tablink.tab-active{
    background: #FFFFFF;
box-shadow: 0px 2px 4px 1px rgba(57, 57, 57, 0.14);
border-radius: 10px;
}

#feature{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 65px;
    row-gap: 51px;
    padding-top: 51px;
}
.design h6{
    padding: 20px 124px 17px 29px;
    font-size: 20px;
    line-height: 30px;
}
.design-para{
    padding: 0 186px 0px 29px ;
    color: #7E7E7E;
    font-size: 18px;
line-height: 27px;
}
.design{
    background: #F8F8F8;
border-radius: 10px;
}
.design:hover ,.design-para:hover{
    background: #ED4E08;
    color: rgba(255, 255, 255, 0.7);
}

/* section text ,featured ,design and engineering end */



.section_5{
    background: #000000;
    margin-top: 59px;
}
.h4_txt h3{
    padding: 50px 0 69px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  
    color: #FFFFFF;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 100px;
    row-gap: 33px;
    padding-bottom: 43px;
}
.grid-item h4{
    padding-top: 9px;
    font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;
}
.grid-item p{
    padding-top: 15px;
    font-size: 18px;
line-height: 27px;

color: #D9D9D9;
}

/* section testmonial slide */
.job-application_txt h3{
   
    font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #000000;
}
.job-application_txt{
    padding-top: 50px;
}
/* .testmonial-slide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    background: #F6F6F6;
}
.myslide{ */
    /* display: none; */
    /* padding: 80px;
    text-align: center;
  }
  q{
    font-style: italic;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    
    width: auto;
    margin-top: -30px;
    padding: 56px;
    color: #888;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  } */
/* section testmonial slide end */

/* section application and email contact  */
.application-txt{
    background: #ED4E08;
border-radius: 20px;
margin: 60px 0 75px 0;
}
.application-txt h3{
    text-align: center;
    padding: 56px 0 30px 0;
    font-weight: 700;
font-size: 40px;
line-height: 60px;

color: #FFFFFF;
}
.application-txt p{
    text-align: center;
    padding: 0 68px 56px 68px;
    font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.application-txt a{
    color: #000000;
    text-decoration: none;
}
.application-txt a:hover{
    text-decoration: underline;
}

/* section application and email contact end  */