/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */

:root{
    --orange-color:#ED4E08;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    /* background: #E5E5E5; */
}

/*  start header section */

/* section text and image  */
.container {
    max-width: 1238px;
    margin: 0 auto;
    /* padding: 0 109px; */
    padding: 0 100px;

}

.logo_img {
    width: 260px;
    padding: 45px 0 25px 0;
}

.flex-container {
    display: flex;
    width: 100%;
}

.left-text,
.right-img {
    width: 50%;
}

.left-text {
    padding-top: 75px;
    padding-right: 100px;
}

.left-text h1 {

    font-weight: 700;
    font-size: 70px;
    line-height: 105px;

}

.left-text h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

}

.left-txt-para {
    padding-top: 37px;
    font-size: 22px;
    line-height: 33px;
    color: #5B5B5B;

}

.view-btn {
    background: var(--orange-color);
    border-radius: 10px;
    border: 1px solid var(--orange-color);
    display: inline-block;
    text-decoration: none;
    padding: 20px 29px;
    margin-top: 41px;
    color: #FFFFFF;
}

.view-btn .btn-txt {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    transition: all 0.3s ease-in;
}

.view-btn .btn-icon {
    display: inline-block;
    transform: translateX(0px);
    transition: all 0.3s ease-in;
}

.view-btn:hover .btn-icon {
    transform: translateX(10px);
}

.view-btn:hover {
    background: #FFFFFF;
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}

.view-btn:hover svg path {
    fill: var(--orange-color);
}



.block_img {

    width: 100%;
    height: auto;

}

/* section text and image  end */

/* section text about shoptrade(what is shoptrade) */
.about-shoptrade {
    margin: 85px 0 50px 0;
    background: var(--orange-color);
}

.shoptrade-txt h3 {
    padding: 66px 0 40px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.shoptrade-txt p {
    padding-bottom: 40px;
    font-size: 22px;
    line-height: 33px;

    color: #FFFFFF;
}

.btn_class{
    display: block;
    padding-bottom: 88px;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.btn_class:hover {
    text-decoration: none;
}
.btn_class .arrow-icon {
    display: inline-block;
    transform: translateX(0px);
    transition: all 0.3s ease-in;
}
.btn_class:hover .arrow-icon{
    transform: translateX(15px);
} 
.btn_class svg {
    padding-left: 9px;
    width: 12px;
}



/* section text about shoptrade(what is shoptrade) end */

/* section text ,featured ,design and engineering */
.bigleap-text h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 15px;
}

.bigleap-text h5 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 40px;
}

.bigleap-text p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 50px;
}

.sub-btn {
    display: flex;
}

.tablink {
    margin-right: 94px;
    padding: 17px 20px;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.tablink.active {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 1px rgba(57, 57, 57, 0.14);
    border-radius: 10px;
}
.position-btn{
    min-height: 650px;
}
.hire-position.tabcontent-active.tabcontent-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 65px;
    row-gap: 30px;
    padding-top: 51px;
}

.design h6 {
    padding: 20px 100px 17px 29px;
    font-size: 20px;
    line-height: 30px;
}

.design-para {
    display: block;
    padding: 0 186px 21px 29px;
    color: #7E7E7E;
    font-size: 18px;
    line-height: 27px;

}

.design {
    background: #F8F8F8;
    border-radius: 10px;
    /* margin: 20px 0; */
}

.design:hover {
    background: #ED4E08;
    color: #FFFFFF
}
.design:hover  .design-para{
    color: #FFFFFF;
}
.hire-position {
    display: none;
}

.hire-position.tabcontent-active {
    display: block;
}

/* section text ,featured ,design and engineering end */



.section_5 {
    background: #000000;
    margin-top: 59px;
}

.h4_txt h3 {
    padding: 50px 0 69px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    column-gap: 83px;
    row-gap: 33px;
    padding-bottom: 43px;
}

.grid-item h4 {
    padding-top: 9px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.grid-item p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 27px;

    color: #D9D9D9;
}

/* section testmonial slide */
.job-application_txt h3 {

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.job-application_txt {
    padding-top: 50px;
}

.testmonial-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 70px;
    row-gap: 20px;
}

.flex-test-container {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
}

.text {
    padding-left: 15px;

}

blockquote {
    font-style: italic;
    padding: 29px 29px 51px 28px;
    font-size: 22px;
    line-height: 33px;
}

.show-testmonia {
    background: #F8F8F8;
    border-radius: 20px;
    /* margin-right: 75px; */
}

.text .mt {
    padding-bottom: 5px;
}

.text .th {
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.7);


}

.sub_flex-container {
    margin-top: 50px;
}

.location {
    padding-left: 106px;
}

.slide-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 45px;
}

.slide-bar img {
    padding-left: 28px;
}

/* section testmonial slide end */

/* section application and email contact  */
.application-txt {
    background: #ED4E08;
    border-radius: 20px;
    margin: 60px 0 75px 0;
}

.application-txt h3 {
    text-align: center;
    padding: 56px 0 30px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #FFFFFF;
}

.application-txt p {
    text-align: center;
    padding: 0 68px 56px 68px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.application-txt a {
    color: #000000;
    text-decoration: none;
}

.application-txt a:hover {
    text-decoration: underline;
}

/* section application and email contact end  */

/* start media queries */
/* media query for desktop(1042px) */
@media screen and (max-width:1042px) {

    .view-btn {
        padding: 20px 17px;
    }

    .location {
        padding-left: 80px;
    }
}

/* media query for tab(980px)*/
@media screen and (max-width:980px) {

    /* section header logo */
    .logo_img {
        margin: 0 auto;
    }

    .container {
        padding: 0 51px;
    }

    /* section text and image flex */
    .flex-container {
        flex-direction: column-reverse;
    }

    .right-img,
    .left-text {
        width: 100%;
    }

    .block_img {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;
    }

    .left-text {
        padding-right: 0;
        text-align: center;
    }

    .view-btn svg {
        padding: 0 29px 0 11px;
    }

    /* section text ,featured ,design and engineering */
    /* .btn-text {
        margin-top: 30px;
    } */

    .feature-design-btn {
        display: flex;
    }

    .location {
        padding-left: 38px;
    }

    /* section text and image end */


}

/* media query for tablet(768px) */
@media screen and (max-width:768px) {

    .logo_img {
        margin: 0 auto;
    }

    /* section text and image  */
    .left-txt-para {
        padding-top: 34px;
        font-size: 18px;
    }

    .shoptrade-txt p {
        font-size: 20px;
    }

    .bigleap-text h4 {
        font-size: 35px;
    }

    /* section section-5 grid container */
    .grid-item h4 {
        padding-top: 20px;
    }

    .h4_txt h3 {
        font-size: 35px;
    }

    .sub-btn {
        display: block;
    }

    .btn-text {
        margin-top: 30px;
    }

    /* section section 5 grid container end */
    .job-application_txt h3,
    .application-txt h3 {
        font-size: 35px;
    }

    /* section text ,featured ,design and engineering */


    .hide-testmonia {
        display: none;
    }

    .location {
        padding-left: 73px;
    }
}

/* media query for tablet(520px) */
@media screen and (max-width:520px) {

    /* section header logo */
    .container {
        padding: 0 30px;
    }

    .logo_img {
        width: 185px;
        /*margin: 0 auto; */
        padding: 26px 0 35px 0;
    }

    .logo_img img {
        width: 185px;
        margin: 0 auto;
    }

    /* section text and image  */
    .left-text {
        padding-top: 30px;
    }

    .left-text h1 {
        line-height: 60px;
        font-size: 40px;
    }

    .left-text h2 {
        padding-top: 10px;
        font-size: 25px;
        line-height: 22px;
    }

    .left-txt-para {
        padding-top: 15px;
        font-size: 15px;
        line-height: 22px;
    }

    .view-btn {
        margin-top: 20px;
        padding: 15px 0 16px 35px;
    }

    .view-btn a {
        font-size: 15px;
        line-height: 22px;
    }

    .about-shoptrade {
        margin: 46px 0 20px 0;
    }

    .shoptrade-txt h3 {
        padding: 25px 0 15px 0;
        font-size: 20px;
        line-height: 30px;
    }

    .shoptrade-txt p {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 10px;
    }

    .shoptrade-txt a {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 34px;
    }

    .bigleap-text h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .bigleap-text h5 {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 10px;
    }

    .bigleap-text p {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 29px;
    }

    .tablink {
        font-size: 15px;
        line-height: 22px;
        padding: 9px 25px;
    }

    /* section section 5 grid container */
    .grid-container {
        padding-bottom: 25px;
    }

    .grid-item h4 {
        font-size: 18px;
        line-height: 27px;
        padding-top: 15px;
    }

    .h4_txt h3 {
        font-size: 20px;
        line-height: 30px;
        padding: 25px 0 40px 0;
    }

    .grid-item p {
        font-size: 15px;
        line-height: 22px;
        padding-top: 12px;
    }

    /* section section 5 grid container end */
    .job-application_txt h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .application-txt {
        margin-top: 25px;
    }

    .application-txt h3 {
        font-size: 25px;
        line-height: 38px;
    }

    .application-txt p {
        padding: 0 27px 26px 31px;
        font-size: 14px;
        line-height: 21px;
    }

    /* section text ,featured ,design and engineering */

    .design h6 {
        font-size: 15px;
        line-height: 22px;
        padding: 20px 55px 5px 29px;
    }

    .design-para {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 19px;
    }

    blockquote {
        font-size: 14px;
        line-height: 21px;
    }

    .text .mt {
        font-size: 15px;
        line-height: 22px;
    }

    .text .th {
        font-size: 13px;
        line-height: 20px;
    }

}